/* .hero2 {
  background-color: #ede9ef;
  height: 17rem;
}
.hero2-content p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.hero2-content h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
}


.btn5 {
  background-color: #7c20bf;
  width: 307px;
  height: 47px;
}
.content-download img{
  

} */
