
.crypto-2{
  
    line-height: 50px;
    background-color: #E5E5E5;
}
hr{
    border: 1px solid black;
    margin-left: -1000px;
    margin-right: -166px;
}
@media screen and(min-width:375px) {
    .crypto-content{
        display: block;
    }
}