.main {
  background-color: #e5e5e5;
  height: 35rem;
}
.rate {
  display: flex;
  justify-content: space-between;
}

.cypto-rate h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 45px;
  margin-bottom: -16px;
}

.crypto-content h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 32px;
  padding-top: 50px;
}
.btn5 {
  text-align: center;
}
.less {
  background-color: #e5e5e5;
  color: #7c20be;
  border: 1.5px solid #7c20be;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 17x;
  line-height: 30px;
  width: 10%;
}

.crypto-section {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 25px;
}

.crypto-section img {
  width: 100px;
  height: 70px;
  margin-bottom: 20px;
}
.crypto-section p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
}
.crypto-section h5 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 10px;
}
.sec-box {
  border: 2px solid;
  background-color: #ffffff;
  width: 350px;
  height: 301px;
  padding: 30px;
  padding-top: 70px;
  border-radius: 8px;
}
