.hero {
  background-color: #7c20be;
  height: 100vh;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
}

.nav-content img {
  width: 152px;
  height: 45.98px;
}

.nav-list {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  margin-bottom: 0;
}

.nav-list li {
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter",sans-serif;
  font-style: normal;
}

.img2 {
  position: absolute;
  width: 690.1px;
  height: 600.1px;
  left: 400px;
  top: 75px;
}

.img3 {
  position: absolute;
  width: 521px;
  height: 500px;
  left: 770px;
  top: 137px;
}
.list1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.list2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.nav-list button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 150px;
  height: 35px;
  border-radius: 5px;
}

.btn {
  color: #ffffff;
  border: 1px solid white;
  background-color: #7c20be;
}
.btn2 {
  background: #ffffff;
  color: #7c20be;
}

.btn3 {
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  color: #7c1fbf;
  border: none;
  width: 24%;
}

.content-section {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 56px;
  color: #ffffff;
  margin-top: 85px;
  position: relative;
  z-index: 2;
}

.content p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

.content-download {
  display: flex;
  gap: 18px;
  height: 44px;
  width: 90%;
}
.content-download img {
  display: flex;
  width: 12.5%;
}
