.hero {
  background-color: #7c20be;
  height: 34rem;
}
/* .nav-content {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
} */


/* .nav-list li {
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter",sans-serif;
  font-style: normal;
} */

.img2 {

position: absolute;
width: 630.1px;
height: 584px;
left: 460px;
top: 88px;
}

.img3 {
  
position: absolute;
width: 561px;
height: 510px;
left: 712px;
top: 133px;
}
.list1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.list2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.nav-list button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 150px;
  height: 35px;
  border-radius: 5px;
}

.btn {
  color: #ffffff;
  border: 1px solid white;
  background-color: #7c20be;
}
.btn2 {
  background: #ffffff;
  color: #7c20be;
}

.btn3 {
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  color: #7c1fbf;
  border: none;
  width: 24%;
}

.content-section {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 56px;
  color: #ffffff;
  position: relative;
  z-index: 2;
}

.content p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

.content-download {
  display: flex;
  gap: 18px;
  height: 44px;
  width: 90%;
}
.content-download img {
  display: flex;
  width: 12.5%;
}

/* @media screen and (min-width:375px){
  .hero{
    height: 30rem;
    width: 100%;
  }
  .content-section{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    line-height: 3rem;
  }
  .content p{
    width: 70%;
  }
  .btn3{
    width: 40%;
  }
  .content-download img{
    width: 20%;
    height: 30px;
    margin-top: -10px;
  }
  .img2{
    display: none;
  }
  .img3{
    display: none;
  }
} */