.nav-bar{
    background-color: #7C20BF;
    height: 8rem;
}

.nav-hero{
    background-color: #7C20BF;
    height: 5rem;

}

.btn-nav{
    color: #7C20BF;
    width: 75%;

}
.btn-section .btn-nav{
    color: #7C20BF;
}
.btn-nav2{
    gap: 20px;
    width: 75%;
}
.btn-section{
    display: flex;
    gap: 10px;
    width: 25%;
}

.instant2{
display: flex;
gap: 20px;
margin-right: 20px;
}
